<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>

<style>
  
  .active {
    color: red;
  }

</style>


<body>

  <div id="app">

    <ul>
      <!-- <li v-for='变量 in 列表'></li> -->
      <!-- 
            第一次作业：
              要求：第一条数据展现为红色
                    后面三条数据点击谁，谁变成红色
              提示：使用v-for和v-bind结合
       -->

      <li v-for='(m,index) in movies' 
          :class="{active:currentIndex===index}" v-on:click='liClick(index)'>
          {{index}}.{{m}}
      </li>
      

    </ul>


  </div>


  <script src="../js/vue.js"></script>
  <script>
    let app = new Vue({
      el:"#app",
      data:{
        movies:['海王','海尔兄弟','火影','进击的巨人'],
        //用currentIndex 来表示现在选中哪一个了
        currentIndex: 0,
      },
      methods:{
        liClick(index){
          this.currentIndex = index
        }
      },
    })
  </script>
</body>
</html>